<div class="specialites-heading">
    SPECIALTIES
</div>
<div class="specialites-cotainer">
    <div class="swiper-container slider-specialites">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="specialites-cotainer__image">
                    <img src="./image/specialites-img1.png" alt="team">
                </div>
                <div class="specialites-cotainer__text">
                    <div class="specialites-cotainer__title">
                        CHOCOLATE PANCAKES
                    </div>
                    <div class="specialites-cotainer__sub-title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                        Duis at velit maximus, molestie est a,
                        tempor magna.
                    </div>
                    <div class="specialites-cotainer__description">
                        Integer ullamcorper neque eu purus euismod,
                        ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat,
                        dui odio vehicula eros, a sollicitudin
                        lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra.
                        Nulla facilisis semper laoreet.
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="specialites-cotainer__image">
                    <img src="./image/specialites-img2.png" alt="team">
                </div>
                <div class="specialites-cotainer__text">
                    <div class="specialites-cotainer__title">
                        LOREM IPSUM
                    </div>
                    <div class="specialites-cotainer__sub-title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </div>
                    <div class="specialites-cotainer__description">
                        Integer ullamcorper neque eu purus euismod,
                        ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat,
                        dui odio vehicula eros, a sollicitudin
                        lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra.
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="specialites-cotainer__image">
                    <img src="./image/specialites-img3.png" alt="team">
                </div>
                <div class="specialites-cotainer__text">
                    <div class="specialites-cotainer__title">
                        PANCAKES
                    </div>
                    <div class="specialites-cotainer__sub-title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                        Duis at velit maximus, molestie est a,
                        tempor magna.
                        Duis at velit maximus, molestie est a,
                        tempor magna.
                    </div>
                    <div class="specialites-cotainer__description">
                        Integer ullamcorper neque eu purus euismod,
                        ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat,
                        dui odio vehicula eros, a sollicitudin
                        lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra.
                        Nulla facilisis semper laoreet.
                        lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra.
                        Nulla facilisis semper laoreet.
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="specialites-cotainer__image">
                    <img src="./image/specialites-img4.png" alt="team">
                </div>
                <div class="specialites-cotainer__text">
                    <div class="specialites-cotainer__title">
                        LOREM
                    </div>
                    <div class="specialites-cotainer__sub-title">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                        Duis at velit maximus, molestie est a,
                        tempor magna.Duis at velit maximus, molestie est a,
                        tempor magna.Duis at velit maximus, molestie est a,
                        tempor magna.
                    </div>
                    <div class="specialites-cotainer__description">
                        Integer ullamcorper neque eu purus euismod,
                        ac faucibus mauris posuere.
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>