<div class="menu__title">
    <h2>DELICIOUS MENU</h2>
</div>
<div class="menu__sub-title">
    <h3>
        Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
        Duis at velit maximus, 
        molestie est a, tempor magna.
    </h3>
</div>
<div class="menu__container">
    <div class="menu__tabs-name">
        <button class="tabs__button">SOUPE</button>
        <button class="tabs__button">PIZZA</button>
        <button class="tabs__button">PASTA</button>
        <button class="tabs__button">DESERT</button>
        <button class="tabs__button">WINE</button>
        <button class="tabs__button">BEER</button>
        <button class="tabs__button">DRINKS</button>
    </div>
    <div class="menu__tabs-item">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
</div>