.menu {
    min-height      : 100vh;
    text-align      : center;
    background-color: $color-white;
}

.menu__title {
    position: relative;
    @include font-bunny;
    font-size  : $fontsize_lg;
    padding-top: 100px;

    &::before {
        @include yellow-line;
    }
}

.menu__sub-title {
    width      : 50%;
    margin     : auto;
    font-size  : $fontsize_md;
    font-weight: bold;
    line-height: 28px;
    margin-top : 30px;
}

//tabs
.menu__container {
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

//tabs button
.menu__tabs-name {
    display           : none;
    /* display        : flex; */
    justify-content   : center;
}

.tabs__button {
    background    : none;
    font-size     : $fontsize_es;
    line-height   : 18px;
    letter-spacing: 0em;
    width         : 120px;
    height        : 50px;
    /* border     : 1px solid $color_black; */
    cursor        : pointer;

    &:hover {
        color : $color_yelow;
        border: 1px solid $color_yelow;
    }

    // active class after click
    &--active {
        color     : $color_white;
        border    : 1px solid $color_black;
        background: $color_yelow;
        transition: all ease-in-out 0.5s;

        &:hover {
            color: $color_white;
        }
    }
}

/* === tabs mobile ===  */
.menu__tabs-mobile {
    /* position: relative; */
    display: block;
    /* background: #000; */
    overflow: hidden;
}
.tabs__open-mobile {
    background    : none;
        font-size     : $fontsize_es;
        line-height   : 18px;
        letter-spacing: 0em;
        width         : 120px;
        height        : 50px;
        
        cursor        : pointer;
}
.tabs__button-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: .6s;
    top: 50px;
    left: 0;
    background: rgba(0,0,0,.9);
    border-radius: 5px;
    border-left: 2px solid $color_black;

}
.sssssssssssss {
    transform: translateX(0);
}
/* === /tabs mobile ===  */




//tabs item
.menu__tabs-item {
    display           : none;
    /* display        : flex; */
    justify-content   : center;
    margin-top        : 50px;

    // active class after click
    &--active {
        display: flex;
    }
}

.tabs__text {
    border-left: 1px solid $color_black;
    padding    : 0 30px;
    flex       : 1;

    &:last-child {
        border-right: 1px solid $color_black;
    }

    ul {
        li {
            @include font-bunny;
            display        : flex;
            justify-content: space-between;
            margin-bottom  : 30px;

            h3 {
                font-size  : $fontsize_md;
                font-weight: bold;
            }

            h4 {
                @include font-opensans-400;
                font-size: $fontsize_es;
            }
        }
    }
}

.tabs__food {
    text-align: left;

    /* padding-right: 30px; */
    h3 {
        font-size: $fontsize_md;
    }

    h4 {
        @include font-opensans-400;
        font-size: $fontsize_es;
    }
}

.tabs__price {
    text-align: right;
}