<div class="menu__title">
    <h2>DELICIOUS MENU</h2>
</div>
<div class="menu__sub-title">
    <h3>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Duis at velit maximus,
        molestie est a, tempor magna.
    </h3>
</div>
<div class="menu__container">
    <div class="menu__tabs-name">
        <button class="tabs__button tabs__button--active" data-tab="#soupe">SOUPE</button>
        <button class="tabs__button" data-tab="#pizza">PIZZA</button>
        <button class="tabs__button" data-tab="#pasta">PASTA</button>
        <button class="tabs__button" data-tab="#desert">DESERT</button>
        <button class="tabs__button" data-tab="#wine">WINE</button>
        <button class="tabs__button" data-tab="#beer">BEER</button>
        <button class="tabs__button" data-tab="#drinks">DRINKS</button>
    </div>
    <div class="menu__tabs-mobile">
        <button class="tabs__open-mobile">MENU</button>
        <div class="tabs__button-mobile">
            <button class="tabs__button tabs__button--active" data-tab="#soupe">SOUPE</button>
            <button class="tabs__button" data-tab="#pizza">PIZZA</button>
            <button class="tabs__button" data-tab="#pasta">PASTA</button>
            <button class="tabs__button" data-tab="#desert">DESERT</button>
            <button class="tabs__button" data-tab="#wine">WINE</button>
            <button class="tabs__button" data-tab="#beer">BEER</button>
            <button class="tabs__button" data-tab="#drinks">DRINKS</button>
        </div>
    </div>
    <!-- item soupe -->
    <div class="menu__tabs-item menu__tabs-item--active" id="soupe">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>SOUPE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- item pizza -->
    <div class="menu__tabs-item" id="pizza">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">115.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- item pasta  -->
    <div class="menu__tabs-item" id="pasta">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PIZZA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>PASTA QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- itwm desert -->
    <div class="menu__tabs-item" id="desert">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DESERT QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- item wine -->
    <div class="menu__tabs-item" id="wine">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">525.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">525.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>WINE QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- iten beer -->
    <div class="menu__tabs-item" id="beer">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">515.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>BEER QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">525.68 USD</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- item drinks -->
    <div class="menu__tabs-item" id="drinks">
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">515.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
            </ul>
        </div>
        <div class="tabs__text">
            <ul>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">255.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">55.68 USD</div>
                </li>
                <li>
                    <div class="tabs__food">
                        <h3>DRINKS QUATRO STAGIONI</h3>
                        <h4>SD Integer ullamcorper neque eu purus euismod</h4>
                    </div>
                    <div class="tabs__price">155.68 USD</div>
                </li>

            </ul>
        </div>
    </div>
</div>