.events {
    background-image   : url("../image/specialtys-bg.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    font-size          : $fontsize_es;
    color              : $color_white;
    text-align         : center;
}

.events__heading {
    line-height   : 14px;
    letter-spacing: 0.5em;
    padding       : 50px 0;
}


// block images
.events__images {
    display: flex;
}

.events__weddnes,
.events__corporate {
    flex    : 1;
    position: relative;
    overflow: hidden;

    &::before {
        transform: translateY(50%);
        @include yellow-figure;
        z-index: 2;
        transition: all ease-in-out .5s;
    }
}

.events__weddnes {
    &::before {
        left: 0;
    }
}

.events__corporate {
    &::before {
        right: 0;
    }
}
.events__corporate--active {
    &::before {
        /* transform: translateX(50px); */
        right: -100%;
    }
}
// active class with hover


.events__corporate-image,
.events__weddnes-image {
    background-image: url("../image/events-corporate.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    @include image-size;
    margin: 0 auto;
    overflow: hidden;
    &:hover .events__corporate-hover {
        transform: translateY(0);
    }
}

.events__corporate-text,
.events__weddnes-text {
    position    : absolute;
    background  : red;
    top         : 0;
    bottom      : 0;
    writing-mode: vertical-rl;
    @include font-bunny;
    font-size     : 24px;
    line-height   : 12px;
    letter-spacing: 0em;
    text-align: left;
    padding: 30px;
    background: $color_black;
}

.events__corporate-text {
    transform: rotate(180deg);
    left: 0;
}

.events__weddnes-text {
    right: 0;
}
.events__corporate-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    transition: .5s;
    transform: translateY(-100%);
}
.events__corporate-button {
    font-size: 24px;
    margin:auto;
    transform: translateY(200px);
    border-radius: 5px;
    color: $color_white;
    background: $color_yelow;
    padding: 8px;
    cursor: pointer;
    &:hover {
        color: $color_black;
    }
}

.event__active-hover {
    transform: translateY(0);
}

// block description
.events__description {
    opacity    : .5;
    line-height: 12px;
    padding    : 50px 0;
}