<div class="booking__container">
    <div class="booking__form">
        <div class="form__title">BOOK A TABLE</div>
        <form class="form__item" id="form-booking" name="form-booking">
            <input required type="text" pattern="^[!@#$%^&*.:;<>?\/\|{}\[\]_+= -]?([\p{L}\d]+[!@#$%^&*.:;<>?/\|{}\[\]_+= -]?)+$" placeholder="Enter your name" name="Name">
            <input required type="email" pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$" placeholder="Enter your email" name="Email">
            <input required type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="Enter your phone" name="Phone">
            <input required type="list" placeholder="Enter the number of person" name="People" list="People">
            <datalist id="People">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>6</option>
                <option>5</option>
                <option>7</option>
                <option>8</option>
            </datalist>
            <input required id="date" type="text" placeholder="Date" name="Date">
            <input required id="time" type="text" placeholder="Time" name="Time">
            <button class="form__item-button ">
                BOOK NOW
            </button>
        </form>
    </div>
    <div class="booking__image">
        <img src="./image/booking-img.png" alt="booking">
    </div>
</div>
<div class="booking__contacts">
    Mon - Fri: 8PM - 10PM,
    Sat - Sun: 8PM - 3AM,
    Phone: +40 729 131 637/+40 726 458 782
</div>


<div class="booking-popup">
    <div class="booking-popup__container  ">
        <div class="booking-popup__container-title">
            BOOK A TABLE
        </div>
        <div class="booking-popup__container-text">
            <div class="booking-popup__property">
                <ul>
                    <li>Name:</li>
                    <li>Mail:</li>
                    <li>Phone:</li>
                    <li>People:</li>
                    <li>Date:</li>
                    <li>Time:</li>
                </ul>
            </div>
            <div class="booking-popup__key">

            </div>
            <div class="booking-popup__icon">
                <svg class="down-btn__circle--svg">
                    <use xlink:href="./image/sprite.svg#check"></use>
                </svg>
            </div>

        </div>
        <div class="booking-popup__banner-done">
            THE RESERVATION DONE
        </div>
        <div class="booking-popup__close">
            <svg class="down-btn__circle--svg">
                <use xlink:href="./image/sprite.svg#times-solid"></use>
            </svg>
        </div>
    </div>
    <!-- <div class="booking-popup__close">
        <svg class="down-btn__circle--svg">
            <use xlink:href="./image/sprite.svg#times-solid"></use>
        </svg>
    </div> -->
</div>