<div class="booking">
    <div class="booking__container">
        <div class="booking__form form">
            <div class="form__title">BOOK A TABLE</div>
            <form id="myForm" class="form__item" name="form-booking">
                <input type="text" placeholder="name" name="name">
                <input type="email" placeholder="Email" name="Email">
                <input type="tel" placeholder="Phone" name="Phone">
                <input type="list"  placeholder="People" name="People" list="People">
                <datalist id="People">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>6</option>
                    <option>5</option>
                    <option>7</option>
                    <option>8</option>
                </datalist> 
                <input id="date" type="text" placeholder="Date" name="Date">
                <input id="time"  type="text" placeholder="Time" name="Time">
            </form>
            <div class="form__button">
                <button class="button-sub form__button--booking">
                    BOOK NOW
                </button>
            </div>
        </div>
        <div class="booking__image">
            <img src="./image/booking-img.png" alt="booking">
        </div>
    </div>
    <div class="booking__contacts">
        Mon - Fri: 8PM - 10PM,        
        Sat - Sun: 8PM - 3AM,          
        Phone: +40 729 131 637/+40 726 458 782 
    </div>
</div>