.team {
    background-image: url("../image/team-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.team-heading {
    font-size: $fontsize_es;
    color: $color_white;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0.5em;
    padding: 40px 0;
}


//style slide
.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__image {
        flex: 1;
        position: relative;
        &::before {
            transform: translateY(50%);
            @include yellow-figure;
        }
        & img {
            @include image-size;
        }
    }
    &__text {
        flex: 1;
        color: $color_white;
        text-align: center;
        align-self: center;
        
    }
    &__description {
        margin: 0;
    }
    @include text-styeles; //// style for title, sub-title, description
}

//style slider
.swiper-slide {
    display: flex;
    margin-bottom: 100px;
}

.swiper-container {
    width: 100%;
    height: 100%;    
}

.swiper-pagination {
    bottom: 30px;
}

//media queris

@mixin tean-media-960 {
    .swiper-slide {
        flex-direction: column;
    }
    .team-container__image {
        text-align: center;
        align-items: center;
    }
    .team-container__image::before {
        display: none;
    }
    .team-container__image img {
        width: 70%;
        height: 70%;
    }
    
}