<div class="team-heading">OUR TEAM</div>
<div class="team-container">
    <!-- <div class="team-container__image">
        <img src="./image/team-img.png" alt="team">
    </div>
    <div class="team-container__text">
        <div class="team-container__title">MASTER CHEF</div>
        <div class="team-container__sub-title">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Duis at velit maximus, 
            molestie est a, tempor magna.
        </div>
        <div class="team-container__description">Integer ullamcorper neque eu 
            purus euismod, ac faucibus mauris posuere. 
            Morbi non ultrices ligula. Sed dictum, 
            enim sed ullamcorper feugiat, dui odio vehicula eros, 
            a sollicitudin lorem quam nec sem. Mauris tincidunt 
            feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
    </div> -->



    <div class="swiper-container sl1 ">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">MASTER CHEF</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/about-img.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">MASTER АААААААААААААААА</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maxissssssssssmus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">MASTER CHEF</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
                </div>
            </div>

        </div>
    </div>
</div>