<div class="team-heading">OUR TEAM</div>
<div class="team-container">
    <!-- === slider === -->
    <div class="swiper-container sl1der-team">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">MASTER CHEF</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img1.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">SOUS CHEF</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                        
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. </div>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img2.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">CONFECTIONER</div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. Mauris tincidunt
                        feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="team-container__image">
                    <img src="./image/team-img3.png" alt="team">
                </div>
                <div class="team-container__text">
                    <div class="team-container__title">FISH MEAT VEGETABLE CHEF </div>
                    <div class="team-container__sub-title">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis at velit maximus,
                        molestie est a, tempor magna.
                    </div>
                    <div class="team-container__description">Integer ullamcorper neque eu
                        purus euismod, ac faucibus mauris posuere.
                        Morbi non ultrices ligula. Sed dictum,
                        enim sed ullamcorper feugiat, dui odio vehicula eros,
                        a sollicitudin lorem quam nec sem. </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- === / slider === -->
</div>