@media screen and (max-width: 902px) {
    /* === btn mobile === */
    .nav__mobile {
        display: block;
        margin-top: 10px;

    }
    .nav__item-position {
        display: none;
    }
    /* === / btn mobile === */
    .nav__logo {
        left: 2%;
        top: -15px;
        transform: translateX(0%);
        &-svg {
            width: 30%;
            height: 30%;
        }
    }
}