<div class="contact__title">CONTACT</div>
<div class="contact__sub-title">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Duis at velit maximus,
    molestie est a, tempor magna.
</div>
<div class="contact__form">
    <input type="text" placeholder="Name" class="contact__form--name"></input>
    <input type="text" placeholder="Email" class="contact__form--email"></input>
    <input type="text" placeholder="Phone" class="contact__form--phone"></input>
    <input type="text" placeholder="Massage" class="contact__form--message"></input>
    <div class="contact__form--icon">
        <svg class="contact__form--svg">
            <use xlink:href="./image/sprite.svg#envelope-solid"></use>
        </svg>
        <p>5th London Boulevard, U.K.</p>
    </div>
    <div class="contact__form--icon">
        <svg class="contact__form--svg">
            <use xlink:href="./image/sprite.svg#phone-solid"></use>
        </svg>
        <p>+40 729 131 637/+40 726 458 782</p>
    </div>
    <div class="contact__form--icon">
        <svg class="contact__form--svg">
            <use xlink:href="./image/sprite.svg#map-marker-alt-solid"></use>
        </svg>
        <p>office@mindblister.com</p>
    </div>
    <button class="contact__form--button-sub" >SEND MESSAGE</button>
</div>