<div class="nav">
    <div class="nav__item">
        <ul class="nav__item--position">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">TEAM</a></li>
            <li><a href="#">BOOKING</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">GALERIE</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
    <div class="nav__logo">
        <svg class="nav__logo--svg">
            <use xlink:href="./image/sprite.svg#Vector"></use>
        </svg>
    </div>
    <div class="nav__mobile">
        <button class="nav__mobile--btn">
            <span>
            </span>
        </button>
    </div>
    <div class="menu__mobile">
        <ul>
            <li><a href="https://overcoder.net/q/2829/как-временно-отключить-прокрутку">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">TEAM</a></li>
            <li><a href="#">BOOKING</a></li>
            <li><a href="#">MENU</a></li>
            <li><a href="#">GALERIE</a></li>
            <li><a href="#">EVENTS</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</div>
<div class="header-content">
    <div class="header-content__working-time">
        <h3>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</h3>
    </div>
    <div class="header-content__center-items hed-item ">
        <h2 class="hed-item__sub-title">RESTAURANT</h2>
        <h1 class="hed-item__title">HUNGRY PEOPLE</h1>
        <div class="hed-item__buttons">
            <button class="header-buttons button-sub">BOOK TABLE</button>
            <button class="button-exp">EXPLORE</button>
        </div>
        <button class="hed-item__down-btn">
            <div class="down-btn__circle">
                <a class="link-down" href="#rq">
                    <svg class="down-btn__circle--svg">
                        <use xlink:href="./image/sprite.svg#chevron-down-solid"></use>
                    </svg>
                </a>

            </div>
        </button>
    </div>
    <div class="header-content__social-icons">
        <div class="header-content__social-icons--facebook">
            <a  href="#">
                <svg class="facebook">
                    <use xlink:href="./image/sprite.svg#facebook-f-brands"></use>
                </svg>
            </a>
        </div>
        <div class="header-content__social-icons--twiter">
            <a href="#">
                <svg class="twiter">
                    <use xlink:href="./image/sprite.svg#twitter-brands"></use>
                </svg>
            </a>
        </div>
        <div class="header-content__social-icons--instagram">
            <a href="#">
                <svg class="instagram">
                    <use xlink:href="./image/sprite.svg#instagram-brands"></use>
                </svg>
            </a>

        </div>
    </div>
</div>