.header {
    background-image   : url("../image/header-bg.png");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    min-height             : 100vh;
}

.nav {
    position: relative;

    &__item {
        &--position {
            display        : flex;
            justify-content: flex-start;

            li {

                width          : 130px;
                height         : 100px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                border-bottom  : 1px solid $color_grey;

                a {
                    position : relative;
                    font-size: $fontsize_es;
                    color    : $color_white;
                }

                a::before,
                a::after {
                    position  : absolute;
                    content   : "";
                    bottom    : -20%;
                    left      : -10%;
                    transition: all ease 0.4s;
                    width     : 0;
                    height    : 0;
                    background: $color_yelow;
                }

                a:hover:before {
                    width : 2px;
                    height: 100%;
                }

                a:hover:after {
                    width : 100%;
                    height: 2px;
                }



            }

            li:nth-child(5) {
                margin-left: 30%;

            }

        }
    }

    &__logo {
        position : absolute;
        top      : 25px;
        left     : 50%;
        transform: translateX(-50%);

        &--svg {
            width : 100%;
            height: 100%;
        }
    }

    // btn mobile
    &__mobile {
        display    : none;
        position   : relative;
        overflow   : hidden;
        width      : 40px;
        height     : 40px;
        font-size  : 0;
        text-indent: -9999px;
        appearance : none;
        box-shadow : none;
        border     : none;
        cursor     : pointer;
        z-index    : 998;
    }

    &__mobile {
        span {
            display            : block;
            position           : absolute;
            top                : 20px;
            left               : 0px;
            right              : 0px;
            height             : 2px;
            background         : white;
            transition-duration: 0.3s, 0.3s;
            transition-delay   : 0.3s, 0s;
        }

        span::before,
        span::after {
            position           : absolute;
            display            : block;
            width              : 100%;
            height             : 2px;
            left               : 0;
            transition-duration: 0.3s, 0.3s;
            transition-delay   : 0.3s, 0s;
            background         : white;
            content            : "";
            cursor             : pointer;
        }

        span::before {
            top: -10px;
        }

        span::after {
            bottom: -10px;
        }
    }


    /*  */
    // === in active

    .nav__mobile--active span {
        transition-duration: 0.1s, 0.1s;
        transition-delay   : 0.1s, 0s;

        background: none;

    }

    .nav__mobile--active span::before,
    .nav__mobile--active span::after {
        transition-duration: 0.3s, 0.3s;
        transition-delay   : 0.3s, 0s;
    }

    .nav__mobile--active span::before {
        top      : 0;
        transform: rotate(45deg);
    }

    .nav__mobile--active span::after {
        bottom   : 0;
        transform: rotate(-45deg);
    }

    //menu mobile
    .menu__mobile {
        position  : fixed;
        top       : 0;
        left      : 0;
        right     : 0;
        bottom    : 0;
        background: black;
        transform : translateX(-100%);
        transition: all 0.8s ease;
        text-align: center;

        ul {
            margin-top: 100px;

            li {
                margin-top: 30px;

                a {
                    font-size: $fontsize * 6;
                    color    : $color_yelow;

                }
            }

        }
    }

    .menu__mobile--active {
        transform: none;
        z-index  : 9998;
    }
}


.header-content {
    min-height: 100vh;
    position       : relative;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;


    &__working-time {
        flex        : 1;
        writing-mode: vertical-rl;
        transform   : rotate(180deg);
        color       : white;
        border-left : 1px solid $color_grey;

        h3 {
            font-size : $fontsize_es;
            text-align: center;
        }
    }

    .hed-item {
        flex      : 5;
        text-align: center;
        margin-top: 250px;

        &__sub-title {
            letter-spacing: 0.5em;
            font-size     : $fontsize_es;
            color         : $color_white;
        }

        &__title {
            position: relative;
            @include font-bunny;
            font-size : $fontsize_el;
            color     : $color_white;
            margin-top: 20px;

            &::before {
                @include yellow-line;
            }
        }

        &__buttons {
            display        : flex;
            justify-content: space-evenly;
            flex-wrap      : wrap;
        
        }

        .header-buttons {
            width     : 200px;
            height    : 60px;
            margin-top: 45px;
        }

        @include button-sub;

        .button-exp {
            width           : 200px;
            height          : 60px;
            background-image: none;
            background      : transparent;
            background-color: transparent;
            cursor          : pointer;
            color           : $color_white;
            border          : 2px solid $color_grey;
            border-radius   : 5px;
            transition      : .3s;
            margin-top      : 45px;

            &:hover {
                border: 2px solid $color_yelow;
            }

            &:active {
                background: $color_white;
                color     : $color_yelow;
            }
        }

        &__down-btn {
            position        : relative;
            margin          : 150px auto;
            width           : 60px;
            height          : 60px;
            border          : 1px solid $color_grey;
            border-radius   : 50%;
            background-image: none;
            background      : transparent;
            background-color: transparent;
            transition      : .5s;

            &::before,
            &::after {
                content   : "";
                position  : absolute;
                top       : 50%;
                height    : 2px;
                width     : 0;
                background: $color_white;
                transition: .5s;
            }

            &:hover::before {
                width: 200px;
            }

            &::before {
                left: 120%;
            }

            &::after {
                right: 120%;
            }

            &:hover::after {
                width: 200px;
            }
        }

        .down-btn__circle {
            width           : 40px;
            height          : 40px;
            margin          : auto;
            background-color: $color_white;
            border-radius   : 50%;
            cursor          : pointer;
            transition      : .4s;

            &:hover {
                background: $color_yelow;
                color     : $color_white;
            }

            &:active {
                background: $color_grey;
            }

            &--svg {
                width    : 20px;
                height   : 20px;
                transform: translateY(50%);
            }
        }

    }

    &__social-icons {
        flex           : 1;
        color          : $color_white;
        display        : flex;
        flex-direction : column;
        align-items    : flex-end;
        justify-content: center;
        border-left    : 1px solid $color_grey;

        &--facebook,
        &--twiter,
        &--instagram {
            width        : 60px;
            height       : 60px;
            border       : 1px solid $color_grey;
            border-radius: 50%;
            text-align   : center;
            margin-bottom: 20px;
            cursor       : pointer;
            transition   : .4s;
            color        : $color_white;

            &:hover {
                border: 1px solid $color_yelow;
            }

            &:active {
                color     : $color_yelow;
                background: $color_grey;
            }
        }

        .facebook,
        .instagram,
        .twiter {
            width    : 30px;
            height   : 30px;
            transform: translateY(50%);
        }
    }
}


/* === media 960px === */
@mixin header-media-960 {

    /* === btn mobile === */
    .nav__mobile {
        display : block;
        position: absolute;
        right   : 0;
        top     : 20px;
        z-index : 9999;
    }

    .nav__item--position {
        display: none;
    }

    /* === / btn mobile === */
    .nav__logo {
        left     : 0;
        top      : -30px;
        transform: translateX(0%);

        &--svg {
            width : 20%;
            height: 20%;
        }
    }
    /* header content */
    .header-content {
        flex-direction: column;
        &__working-time {
            writing-mode: rl;
            transform: none;
            margin-top: 200px;
            border: none;
        }
        .hed-item {
            margin: 0;
        }
        .hed-item__down-btn {
            display: none;
        }
        &__social-icons {
            flex-direction: row;
            justify-content: space-evenly;
            border: none;
            margin-top: 20%;
        }
    }

    /* header content */
}

/* === / media 960px === */

/* === media 540px === */
@mixin header-media-540 {
    .header-content .hed-item__title {
        font-size: $fontsize * 12;
    }
}
/* === / media 540px === */