<!-- Slider main container -->
<div class="swiper-container swiper-gallery">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide1.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide2.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide3.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide4.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide2.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide4.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide1.png" alt="image-gallery">
      </div>
      <div class="swiper-slide gallery-slide">
        <img src="./image/gallery-slide3.png" alt="image-gallery">
      </div>
    </div>
</div>

<!-- === popup slider === -->
<div class="gallery__popup-wrapper">
      <div class="swiper-container gallery__popup-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide  ">
            <img src="./image/gallery-slide1.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide2.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide3.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide4.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide2.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide3.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide1.png" alt="image-gallery">
          </div>
          <div class="swiper-slide ">
            <img src="./image/gallery-slide4.png" alt="image-gallery">
          </div>
        </div>
        <div class="swiper-pagination gallery__popup-pagination"></div>
      </div>
      <div class="gallery__popup-button">
        close
      </div>
</div>
<!-- === / popup slider === -->
