<div class="about-us">
    <div class="about-us__text">
        <div class="about-us__title">
            ABOUT US
        </div>
        <div class="about-us__sub-title">
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis at velit maximus,
            molestie est a, tempor magna.
        </div>
        <div class="about-us__description">
            Integer ullamcorper neque eu purus euismod,
            ac faucibus mauris posuere. Morbi non ultrices
            ligula. Sed dictum, enim sed ullamcorper feugiat,
            dui odio vehicula eros, a sollicitudin lorem quam
            nec sem. Mauris tincidunt feugiat diam convallis
            pharetra. Nulla facilisis semper laoreet.
        </div>
    </div>
    <div class="about-us__image">
        <div class="about-us__image--card">
            <img  src="./image/about-img.png" alt="about-us">
        </div>
    </div>
</div>