/* ===  fonts === */
@mixin font-bunny {
    font-family: 'Banny Round';
    font-style : normal;
    font-weight: normal;
}
/* === / fonts === */


/* === button === */
@mixin button-sub {
    .button-sub {
        position: relative;
        font-size: $fontsize_es;
        border-radius: 5px;
        background: $color_yelow;
        transition: .5s;
        color: $color_white;
        z-index: 2;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 4px;
            left: 4px;
            height: 4px;;
        }

        &::before {
            width: 0;
            height: 4px;
        }
        &::after {
            width: 4px;
            height: 0;
            
        }

        &:hover::before,
        &:hover::after {
            content: "";
            position: absolute;
            background: $color_white;
            transition: .4s;
        }
        &:hover::before {
            width: 90%;
            height: 4px;
        }
        
        &:hover::after {
            width: 4px;
            height: 80%;
        }
        &:hover {
            box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
        }
        &:active {
            box-shadow: none;
        }
    }

}
/* === / button === */