/* === font size === */
$fontsize: 4px;
$fontsize_es: $fontsize * 3; 
$fontsize_sm: $fontsize * 3.5; 
$fontsize_md: $fontsize * 4.5; 
$fontsize_lg: $fontsize * 9; 
$fontsize_el: $fontsize * 24; 
/* === / font size === */


/* === colors ===  */
$color_yelow: #E8C300;
$color_white: #FFFFFF;
$color_grey: #E5E5E5;
$color_black: #000000;
/* === / colors ===  */

/* === size === */
$padding_section: 100px;
/* === / size === */