.header {
    background-image   : url("../image/header-bg.png");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.nav {
    position: relative;

    &__item {
        &-position {
            display        : flex;
            justify-content: flex-start;

            li {
                
                width          : 130px;
                height         : 100px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                border-bottom: 1px solid $color_grey;

                a {
                    position: relative;
                    font-size: $fontsize_es;
                    color    : $color_white;
                }
                a::before,
                a::after
                {
                    position: absolute;
                    content: "";
                    bottom: -20%;
                    left: -10%;
                    transition: all ease 0.4s;
                    width: 0;
                    height: 0;
                    background: $color_yelow;
                }

                a:hover:before {
                    width: 2px;
                    height: 100%;
                }
                a:hover:after {
                    width: 100%;
                    height: 2px;
                }
            


            }

            li:nth-child(5) {
                background : black;
                margin-left: 30%;

            }
            /* li::after {
                position: absolute;
                content: "";
                bottom: 30%;
                width: 0;
                height: 2px;
                background: $color_yelow;
                transition: all ease 0.4s;
            }
            li:hover:after {
                width: 130px;
            } */

        }
    }

    &__logo {
        position : absolute;
        top      : 25px;
        left     : 50%;
        transform: translateX(-50%);
    }
}